          <!-- USER TABLE  -->
          <section class="home-section mt-5">
            <div class="container d-flex justify-content-center">
              <a href="/admin/addProduct" class="btn btn-success mb-2">ADD PRODUCT</a>
            </div>
            <div class="container">
              <table id="adminProductTable" class="table  table-hover">
                <thead>
                  <tr>
                    <th scope="col">S.NO</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">SELLING PRICE</th>
                    <th scope="col">EDIT PRODUCT</th>
                    <th scope="col">DELETE PRODUCT</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<ProductDetails.length;i++){ %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%= ProductDetails[i].productName %></td>
                    <td><%= ProductDetails[i].categoryName %></td>
                    <td><img src="<%=ProductDetails[i].picture %>" alt="product Image" style="width:4em ; height:4em"></td>
                    <td><%= ProductDetails[i].sellingPrice %></td>
                    <td>
                      <a href="/admin/showEditProductPage?id=<%= ProductDetails[i]._id %>" type="button" class="btn btn-success">EDIT</a>
                    </td>
                    <td>
                      <a href="#" type="button" class="btn btn-danger" onclick="deleteProduct('<%= ProductDetails[i]._id %>')">DELETE</a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </section>


  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}

$(document).ready(function () {
    $('#adminProductTable').DataTable();
});



function deleteProduct(productId){
  swal({
  title: "DELETE",
  text: "DO YOU WANT TO DELETE THIS PRODUCT",
  icon: "warning",
  buttons: ["CANCEL","OK"],
}).then(val=>{
  if(val)
  {
    
    fetch('/admin/deleteProduct?id='+productId,
    {
      method:'delete'

    }).then(
      swal({
        title: "SUCCESS",
       text: "PRODUCT SUCCESSFULLY DELETED",
       icon: "success",
       button:"OK"
       
    }).then(val=>{
      location.reload()
    })
    )
  }
})
}

 </script>
