
          <!-- USER TABLE  -->
      <section class="home-section mt-3">
  
        <div class="container">
          <table id="userPage" class="table table-secondary table-hover">
            <thead>
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ACTION</th>
                
              </tr>
            </thead>
            <tbody>

              <% for(var i=0;i<User_Details.length;i++) { %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= User_Details[i].username %></td>
                <td><%= User_Details[i].useremail %></td>
                <td>
                <%if(User_Details[i].state == 'active') {%>
                  <button onclick="userBlock('<%= User_Details[i]._id %>')" class="btn btn-danger">BLOCK</button>
                  <% } else {%>
                    <button onclick="userUnblock('<%= User_Details[i]._id %>')" class="btn btn-success">UNBLOCK</button>
                 <% } %>
                </td>
                


              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
  <script>
   let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right"); 
  }else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }

  $(document).ready(function () {
    $('#userPage').DataTable();
});


function userBlock(userId)
{
  
  fetch(
    '/admin/adminUserPage/block',{
      method:'post',
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify(
                {userId})
    }
  ).then(()=>{
    window.location.reload()
  }).catch((error)=>{
    console.error('error = > ',error);
  })
}

function userUnblock(userId)
{
  fetch(
    '/admin/adminUserPage/unblock',{
      method:'post',
      headers:{'Content-Type':'application/json'},
      body:JSON.stringify(
                {userId})
    }
  ).then(()=>{
    window.location.reload()
  }).catch((error)=>{
    console.error('error = > ',error);
  })
}


  </script>

