<div class="container mt-3">
  <table id="Category" class="table  table-hover">
    <thead class="text-primary">
      <tr>
        <th scope="col">SNO</th>
        <th scope="col">ORDER ID</th>
        <th scope="col">DATE</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">STATUS</th>
        <th scope="col">VIEW PRODUCTS</th> 
      </tr>
    </thead>
    <tbody>
    <% for(var i=0;i<orderList.length;i++){ %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= orderList[i]._id %></td>
        <td><%=  orderList[i].date.toLocaleDateString() %></td>
        <td><%= orderList[i].deliveryDetails.address %></td>
        <td>₹ <%= orderList[i].deliveryDetails.totalAmout %></td>
        <td><%= orderList[i].status %></td>
        <td><a href="/viewOrderProducts?id=<%= orderList[i]._id %>" class="btn btn-secondary btn-sm">VIEW PRODUCTS</a></td>
      </tr>
      <% }%>
    </tbody>
  </table>
</div>
